{% extends "../../main.html.twig" %}
{% block main %}
	<main>
		<div class="container">
			<div class="row ">
				<form class="col-md-6 mx-auto p-3 my-5 bg-light rounded" method="post" action="nouvelleMoto">
					<h1 class="text-primary">Ajouter une bécane</h1>
					<hr class="m-0">
					{% for err in errors %}
						<p class="text-danger">{{err}}</p>
					{% endfor %}

					<div>
						<label for="brand">Marque</label>
						<input type="text" class="form-control" id="brand" name="brand" placeholder="" value="">
					</div>
					<div>
						<label for="model">Model</label>
						<input type="text" class="form-control" id="model" name="model" placeholder="" value="">
					</div>
					<div>
						<label for="cylinder">Cylindrée</label>
						<input type="number" class="form-control" id="cylinder" min="50" name="cylinder" placeholder="" value="">
					</div>
					<button type="submit" class="btn btn-primary mt-2">valider</button>
				</form>
			</div>
		</div>
	</main>
{% endblock %}
